<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<div id="black"></div>
	<div id="homepage">
		<img src="/images/palo_alto.png" alt="map-background" id="map">
		<img src="/images/logo.png" alt="logo" id="logo">
	</div>
</body>
</html>