<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <h4>Map of <%- mapName %></h4>
    <img src="/images/<%- mapFile %>" alt="Map of <%- mapName %>">
</body>
</html>